  .App-logo {
    height: 30vmin;
    pointer-events: none;
  }

  .loginPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .Login-header {
    margin-top: 5vh;
    background-color: #4b6599;
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Login-Text-Area{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
  }

  .Text-Box{
    justify-content: center;
    display: flex;
    height: 70px;
    margin-top:20px;
    flex:1;
  }

  .Login-Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-inline: 40vw;
  }
  