.rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
  }


  .square {
    width: 50px;
    height: 50px;
    background-color: #0074d9;
    margin: 10px; /* Adjust margin as needed */
  }